* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(224, 224, 224, 1);
  width: 100%;
}

.container_menu {
  display: flex;  
  padding: 20px;
  width: 100%;
}
.menu {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 20px;
  height: 80px;
  background: #e0e0e0;
}

.ellipse {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.container-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: stretch;
  width: 60%;
  margin-left: 80px;
}
img {
  width: 39px;
  margin: 22px 8px 18px 22px;
}

.caixa_menu {
  display: flex;
  align-items: center;
  background-color: white;
  height: 40px;
}

.lista_menu {
  display: flex;
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  margin: 0px 0px 13px 8px;
}

.lista_menu div {
  padding: 15px;
  margin: 0px -11px 0px -15px;
}

.hamburguer,.fechar {
  display: none;
}

.section {
  margin-top: 26px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.super_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 1112px;
  width: 100%;
}

.caixa_nova {
  flex-direction: column;
  margin: 30px 10px 546px 20px;
  padding: 20px 15px;
  width: 40%;
  max-height: 344px;
  align-items: center;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}

.nova {
  text-align: -webkit-right;
  margin-top: 20px;
}

.Nova_transacao {
  display: flex;
  justify-content: center;
  width: 370px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.container-main {
  width: 400px;
  height: 344px;
  border: 1px solid #979797;
  border-radius: 4px;
}

.caixa_principal {
  margin: 0px 15px 0px 15px;
}
.caixa_tipo-transacao {
  width: 94.8%;
}

.nova_mercadoria {
  width: 97.5%;
}

option {
  font-size: 14px;
}

.valor {
  width: 92.5%;
}

.botao {
  margin: 0px 15px 0px 15px;
}
.botao_adiciona {
  width: 94.8%;
  margin-left: 10px;
}

.linha {
  display: none;
}

.tipo {
  display: flex;
  font-size: 12px;
  margin-bottom: 3px;
}

.formu {
  width: 100%;
  height: 36px;
  padding-left: 7px;
  border: #9c9c9c9c solid 1px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.nmercadoria {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 12px;
  margin-bottom: 3px;
}

.lmercadoria {
  width: 100%;
  height: 32px;
  border: #9c9c9c9c solid 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 7px;
}

.div_valor {
  width: 97.5%;
}

.llvalor {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 12px;
  margin-bottom: 3px;
}

.valor {
  width: 100%;
  height: 32px;
  border: #9c9c9c9c solid 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 7px;
}

.button1 {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  color: white;
  background-color: rgba(51, 51, 51, 1);
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  padding: 19px 10px 0px 10px;
}

.container_extrato {

  width: 44%;
}
.Extrato_de_transacoes {
    display: flex;
    margin-top: 18px;
    font-size: initial;
    justify-content: center;
}

#tab_transacao {
  border-spacing: 0px;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 7px;
  text-align: left;
}

th {
  text-align: left;
  font-weight: bold;
}

.rodape {
  width: 100%;
  border: 5px solid #333;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  
  .controle_financeiro_menu {
    margin: 0;
  }

  .caixa_menu {
    border: 0;
    
  }

  .lista_menu {
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    height: 100%;
    background-color: #333;
    color: white;
    text-align: left;
  }

  .lista_menu .divisor {
    display: none;
  }

  .hamburguer,.fechar {
    display: block;
  }

  .lista_menu {
    display: none;
  }

  .caixa_menu:hover .lista_menu {
    display: flex;
  }

  .section {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
  
  .container-main {
    border: 1px solid #979797;
    width: 100%;
    height: 190px;
    align-self: center;
  }

  .nova {
    justify-content: center;
    display: flex;
  }

  .caixa_nova {
    display: flex;

    width: 90%;
    max-height: 344px;
    border: 1px solid #9c9c9c;
  }
  

  .Nova_transacao {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 18px;
  }
   
  .container_extrato {
    width: 100%
  } 

  .Extrato_de_transacoes {
    display: flex;
    justify-content: center;
    margin-top: 43px;
  }

  .caixa_principal {
    display: flex;
    align-items: center;
    margin: 0px 4px 0px 4px;
  }

  .caixa_1 {
    width: 27%;
    margin: 0 6px;
  }

  .caixa_2 {
    width: 50%;
  }

  .botao_adiciona {
    width: 26.8%;
  }

  .botao {
    margin-inline-start: auto;
    width: 33%;
    display: flex;
  }

  .linha {
    display: none;
  }
}

@media screen and (max-width: 411px) {

  
  .section {
    margin-top: -33px;
  }
  
  .caixa_menu {
    border: 0;
    margin: 49px;
  }

  .container_menu {
    display: flex;
    width: 94%;
  } 
  .lista_menu {
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    height: 100%;
    background-color: #333;
    color: white;
    text-align: left;
  }

  .lista_menu .divisor {
    display: none;
  }

  .hamburguer.fechar {
    display: block;
  }

  .lista_menu {
    display: none;
  }

  .caixa_menu:hover .lista_menu {
    display: flex;
  }

  .section {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
  
  .container-main {
    border: 0px solid #979797;
    
  }
  
  
  
  .caixa_nova {
    border: 0px solid #9c9c9c;
    margin: 30px 10px 20px 20px;
  }

  .Nova_transacao {
    display: none;
  }

  .caixa_principal {
    flex-direction: column;
    padding: 26px 0px 0px 0px;
    width: 95%;
    max-height: 631px;
    align-items: center;
    margin: 8px;
    border: 0px solid #9c9c9c;
  }

  .caixa_1 {
    width: 100%;
    margin: 0 20px;
  }

  .caixa_2 {
    width: 100%;
    margin: 0 20px;
  }
  
  .botao {
     width: 95%;
  }
  .botao_adiciona {
    width: 100%;
    margin-left: 0px;
  }

 #linha-horizontal {
    width: 95%;
    height: -1px;
    margin: 28px 0px 0px 7px;
    border: 1px solid #979797;
  }
  
  .Extrato_de_transacoes {
    
    margin-top: 173px;
  }   
}
